<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- https://mybatis.org/mybatis-3/configuration.html#settings -->
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Award" type="com.andyadc.seckill.infrastructure.persistence.entity.Award"/>
        <typeAlias alias="Strategy" type="com.andyadc.seckill.infrastructure.persistence.entity.Strategy"/>
        <typeAlias alias="StrategyAward" type="com.andyadc.seckill.infrastructure.persistence.entity.StrategyAward"/>
        <typeAlias alias="StrategyRule" type="com.andyadc.seckill.infrastructure.persistence.entity.StrategyRule"/>
        <typeAlias alias="RaffleActivity"
                   type="com.andyadc.seckill.infrastructure.persistence.entity.RaffleActivity"/>
        <typeAlias alias="RaffleActivitySku"
                   type="com.andyadc.seckill.infrastructure.persistence.entity.RaffleActivitySku"/>
        <typeAlias alias="RaffleActivityAccount"
                   type="com.andyadc.seckill.infrastructure.persistence.entity.RaffleActivityAccount"/>
        <typeAlias alias="RaffleActivityAccountFlow"
                   type="com.andyadc.seckill.infrastructure.persistence.entity.RaffleActivityAccountFlow"/>
        <typeAlias alias="RaffleActivityCount"
                   type="com.andyadc.seckill.infrastructure.persistence.entity.RaffleActivityCount"/>
        <typeAlias alias="RaffleActivityOrder"
                   type="com.andyadc.seckill.infrastructure.persistence.entity.RaffleActivityOrder"/>
        <typeAlias alias="RuleTree" type="com.andyadc.seckill.infrastructure.persistence.entity.RuleTree"/>
        <typeAlias alias="RuleTreeNode" type="com.andyadc.seckill.infrastructure.persistence.entity.RuleTreeNode"/>
        <typeAlias alias="RuleTreeNodeLine"
                   type="com.andyadc.seckill.infrastructure.persistence.entity.RuleTreeNodeLine"/>
    </typeAliases>

</configuration>
